@import "mixin";
@import "media-queries";
*{margin:0;padding:0;font-size:inherit;color:inherit;-webkit-font-smoothing:antialiased;}button::-moz-focus-inner{padding:0;border:0;}
a{outline:none;text-decoration:none;background-color:transparent;font-size:11px;color:#2d2a2b;}img{border:none;}html{height:100%;}
h2,h3{font-weight: normal;}body{height:auto!important;min-height:100%;position:relative;background:#ffffff;font-size:13px;color:#575757;}
@font-face {
  font-family: 'Gotham_Medium';
  src: url('../fonts/Gotham_Medium.eot');
  src: url('../fonts/Gotham_Medium.eot') format('embedded-opentype'),
  url('../fonts/Gotham_Medium.woff2') format('woff2'),
  url('../fonts/Gotham_Medium.woff') format('woff'),
  url('../fonts/Gotham_Medium.ttf') format('truetype'),
  url('../fonts/Gotham_Medium.svg#Gotham_Medium') format('svg');
}
body {
  background: url(../img/bg.png) no-repeat #000;
  background-size: cover;
  font-family: 'Gotham_Medium', sans-serif;
}
ul {
  font-size: 0;
  li {
    display: inline-block;
  }
}
header {
  .container {
    @include container;
    position: relative;
    .logo {
      height: 56px;
      width: 130px;
      background-image: url(../img/logo.png);
      display: inline-block;
    }
  }
  p {
    background-color: #303030;
    color: #ababab;
    font-size: 10px;
    line-height: 8px;
    vertical-align: middle;
    padding: 8px 10px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    span {
      color: #fff;
    }
  }
  .nav_header {
    float: right;
    margin-top: 31px;
    nav {
      ul {
        li {
          vertical-align: middle;
          &:nth-child(2) {
            margin: 0 33px;
          }
          &:nth-child(4) {
            margin: 0 14px 0 20px;
          }
          a {
            color: #fff;
            font-size: 15px;
            line-height: 11px;
            text-transform: uppercase;
            transition: .4s;
            &:hover {
              color: #05abda;
              transition: .4s;
            }
          }
          form {
            font-size: 12px;
            vertical-align: middle;
            input {
              width: 171px;
              height: 28px;
              padding-left: 10px;
              box-sizing: border-box;
              background-color: #000;
              border: 1px solid #464646;
            }
          }
          .message {
            background: url(../img/message.png);
            height: 19px;
            display: inline-block;
            width: 21px;
          }
          .cart {
            background: url(../img/cart.png);
          }
        }
      }
    }
  }
  @include header;
}
section {
  .container {
    @include container;
    margin-top: 20px;
    .owl-carousel {
      .btn_carousel {
        background: url(../img/carousel_btn.png);
        height: 58px;
        width: 216px;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        text-align: center;
        &:after {
          content: 'connecting';
          color: #fff;
          font-size: 25px;
          text-transform: uppercase;
          line-height: 58px;
        }
      }
      .dots_disabled {
        display: inline-block;
      }
      .owl-dots {
        height: 9px;
        position: absolute;
        top: 19px;
        right: 19px;
        .owl-dot {
          height: 9px;
          width: 9px;
          background-color: #cdcdcd;
          display: inline-block;
          margin: 0 4px;
        }
        .active {
          background-color: #9f9f9f;
        }
      }
    }
  }
  .container_2 {
    font-size: 0;
    .ban_cont_1 {
      float: left;
      .ban {
        background: url(../img/ban_1.png);
        height: 217px;
        width: 350px;
        display: block;
        position: relative;
        a {
          @include btn_cont;
          background-image: url(../img/ban_1_btn.png);
          height: 58px;
          width: 167px;
          &:after {
            content: 'connect';
            font-size: 25px;
            text-transform: uppercase;
            line-height: 58px;
          }
        }
      }
      .ban_2 {
        background: url(../img/ban_2.png);
        margin: 20px 20px 0 0;
        .content {
          width: 200px;
          position: absolute;
          bottom: 25px;
          left: 20px;
          color: #fff;
          text-transform: uppercase;
          h2 {
            font-size: 25px;
          }
          h3 {
            font-size: 15px;
            margin-top: 7px;
            &:after {
              content: url('../img/cupon.png');
              display: inline-block;
              vertical-align: middle;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .ban_3 {
      background-image: url(../img/ban_3.png);
      height: 454px;
      width: 340px;
      display: inline-block;
      position: relative;
      float: left;
      a {
        @include btn_cont;
        background: url(../img/ban_3_btn.png);
        height: 87px;
        width: 225px;
        padding: 15px 0 0 19px;
        text-align: left;
        &:after {
          content: 'introducing aries™ pro';
          font-size: 25px;
          line-height: 28px;
          text-transform: uppercase;
        }
      }
    }
    .ban_cont_2 {
      margin-left: 20px;
      float: left;
      .ban_4 {
        background-image: url(../img/ban_4.png);
        height: 217px;
        width: 230px;
        position: relative;
        margin-bottom: 20px;
        a {
          color: #fff;
          font-size: 23px;
          text-transform: uppercase;
          position: absolute;
          bottom: 20px;
          padding: 0 20px;
          box-sizing: border-box;
        }
      }
      .ban_5 {
        background-image: url(../img/ban_5.png);
        p {
          font-size: 15px;
          position: absolute;
          bottom: 30px;
          padding: 0 20px;
          text-align: center;
          box-sizing: border-box;
          line-height: 19px;
          &:after {
            content: '- Customer Name';
            font-style: italic;
            color: #ababab;
            line-height: 19px;
          }
        }
      }
    }
  }
  @include section;
}
footer {
  .container {
    background: url(../img/bg_footer.png) center no-repeat;
    background-size: cover;
    @include container;
    .left {
      margin-top: 19px;
      display: inline-block;
      .menu_footer {
        ul {
          li {
            margin-right: 21px;
            a {
              font-size: 12px;
              color: #767776;
              transition: .4s;
              &:hover {
                color: #fff;
                transition: .4s;
              }
            }
          }
        }
      }
      h2 {
        margin: 17px 0 18px 0;
        font-size: 11px;
        color: #7f847f;
      }
    }
    .right {
      display: inline-block;
      float: right;
      margin-top: 10px;
      .language {
        li {
          &:first-child {
            padding-right: 5px;
            border-right: 1px solid #252525;
            margin-right: 5px;
          }
          a {
            font-size: 12px;
            color: #656565;
            line-height: 11px;
          }
          form {
            font-size: 12px;
            label {
              margin: 0 9px 0 37px;
              color: #767776;
            }
            input {
              width: 207px;
              height: 31px;
              border-radius: 25px;
              border: 1px solid #232323;
              background-color: #000;
              opacity: .5;
              padding-left: 10px;
              box-sizing: border-box;
              &::-webkit-input-placeholder {
                color: #adadad;
              }
              &:-moz-placeholder {
                color: #adadad;
              }
              &::-moz-placeholder {
                color: #adadad;
              }
              &:-ms-input-placeholder {
                color: #adadad;
              }
            }
          }
        }
      }
      .social {
        float: right;
        li {
          .tt {
            background: url("../img/tt.png");
            height: 16px;
            width: 19px;
            display: inline-block;
            margin: 8px 0 0 9px;
          }
          .fb {
            background: url("../img/fb.png") no-repeat;
          }
          .yt {
            background: url("../img/yt.png") no-repeat;
          }
        }
      }
    }
  }
  @include footer;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}