@font-face {
  font-family: 'big_john';
  src: url('../fonts/big_john.eot');
  src: url('../fonts/big_john.eot') format('embedded-opentype'),
  url('../fonts/big_john.woff2') format('woff2'),
  url('../fonts/big_john.woff') format('woff'),
  url('../fonts/big_john.ttf') format('truetype'),
  url('../fonts/big_john.svg#big_john') format('svg');
}
@font-face {
  font-family: 'source_sans_pro_regular';
  src: url('../fonts/source_sans_pro_regular.eot');
  src: url('../fonts/source_sans_pro_regular.eot') format('embedded-opentype'),
  url('../fonts/source_sans_pro_regular.woff2') format('woff2'),
  url('../fonts/source_sans_pro_regular.woff') format('woff'),
  url('../fonts/source_sans_pro_regular.ttf') format('truetype'),
  url('../fonts/source_sans_pro_regular.svg#source_sans_pro_regular') format('svg');
}
@font-face {
  font-family: 'lobster';
  src: url('../fonts/lobster.eot');
  src: url('../fonts/lobster.eot') format('embedded-opentype'),
  url('../fonts/lobster.woff2') format('woff2'),
  url('../fonts/lobster.woff') format('woff'),
  url('../fonts/lobster.ttf') format('truetype'),
  url('../fonts/lobster.svg#lobster') format('svg');
}