@font-face {
  font-family: 'open_sans';
  src: url('../fonts/open_sans.eot');
  src: url('../fonts/open_sans.eot') format('embedded-opentype'),
  url('../fonts/open_sans.woff2') format('woff2'),
  url('../fonts/open_sans.woff') format('woff'),
  url('../fonts/open_sans.ttf') format('truetype'),
  url('../fonts/open_sans.svg#open_sans') format('svg');
}
@font-face {
  font-family: 'open_sans_bold';
  src: url('../fonts/open_sans_bold.eot');
  src: url('../fonts/open_sans_bold.eot') format('embedded-opentype'),
  url('../fonts/open_sans_bold.woff2') format('woff2'),
  url('../fonts/open_sans_bold.woff') format('woff'),
  url('../fonts/open_sans_bold.ttf') format('truetype'),
  url('../fonts/open_sans_bold.svg#open_sans_bold') format('svg');
}
@font-face {
  font-family: 'source_sans_pro_regular';
  src: url('../fonts/source_sans_pro_regular.eot');
  src: url('../fonts/source_sans_pro_regular.eot') format('embedded-opentype'),
  url('../fonts/source_sans_pro_regular.woff2') format('woff2'),
  url('../fonts/source_sans_pro_regular.woff') format('woff'),
  url('../fonts/source_sans_pro_regular.ttf') format('truetype'),
  url('../fonts/source_sans_pro_regular.svg#source_sans_pro_regular') format('svg');
}
@font-face {
  font-family: 'open_sans_semibold';
  src: url('../fonts/open_sans_semibold.eot');
  src: url('../fonts/open_sans_semibold.eot') format('embedded-opentype'),
  url('../fonts/open_sans_semibold.woff2') format('woff2'),
  url('../fonts/open_sans_semibold.woff') format('woff'),
  url('../fonts/open_sans_semibold.ttf') format('truetype'),
  url('../fonts/open_sans_semibold.svg#open_sans_semibold') format('svg');
}
@font-face {
  font-family: 'source_sans_pro_light';
  src: url('../fonts/source_sans_pro_light.eot');
  src: url('../fonts/source_sans_pro_light.eot') format('embedded-opentype'),
  url('../fonts/source_sans_pro_light.woff2') format('woff2'),
  url('../fonts/source_sans_pro_light.woff') format('woff'),
  url('../fonts/source_sans_pro_light.ttf') format('truetype'),
  url('../fonts/source_sans_pro_light.svg#source_sans_pro_light') format('svg');
}
@font-face {
  font-family: 'source_sans_pro_bold';
  src: url('../fonts/source_sans_pro_bold.eot');
  src: url('../fonts/source_sans_pro_bold.eot') format('embedded-opentype'),
  url('../fonts/source_sans_pro_bold.woff2') format('woff2'),
  url('../fonts/source_sans_pro_bold.woff') format('woff'),
  url('../fonts/source_sans_pro_bold.ttf') format('truetype'),
  url('../fonts/source_sans_pro_bold.svg#source_sans_pro_bold') format('svg');
}
@font-face {
  font-family: 'source_sans_pro_semibold';
  src: url('../fonts/source_sans_pro_semibold.eot');
  src: url('../fonts/source_sans_pro_semibold.eot') format('embedded-opentype'),
  url('../fonts/source_sans_pro_semibold.woff2') format('woff2'),
  url('../fonts/source_sans_pro_semibold.woff') format('woff'),
  url('../fonts/source_sans_pro_semibold.ttf') format('truetype'),
  url('../fonts/source_sans_pro_semibold.svg#source_sans_pro_semibold') format('svg');
}