@import "fonts";
@import "mixin";
@import "media-queries";

h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
}

.row-flex {
  display: flex;
  flex-flow: row wrap;
}

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
  position: relative;
  min-height: 1px;
}

.col-xs-five {
  width: 20%;
  float: left;
}

body {
  font-family: 'open_sans', sans-serif;
}

/*--------------------------------------------BUTTON_TO_TOP---------------------------------------------*/
#toTop {
  width: 53px;
  height: 53px;
  background: $red;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 65px;
  right: 55px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 25px;
  z-index: 150;
  @include toTop;
}

/*---------------------------------------------MENU AND CAROUSEL------------------------------------------------------*/
header {
  .navbar-default {
    background: none;
    border: none;
    transition: .6s;
    .container {
      .row {
        .navbar-header {
          margin-top: 40px;
          .navbar-brand {
            background: url(../img/logo.png) center/cover no-repeat;
            height: 52px;
            width: 141px;
            display: inline-block;
            margin-left: 0;
          }
        }
        .navbar-collapse {
          margin-top: 40px;
          .navbar-right {
            li {
              margin: 0 30px;
              &:first-child {
                margin-left: 0;
              }
              a {
                padding: 15px 0;
                text-align: center;
                font: normal 14px 'Open Sans';
                text-transform: uppercase;
                color: #fff;
                transition: .1s;
                &:before {
                  display: block;
                  content: attr(title);
                  font-weight: bold;
                  height: 0;
                  overflow: hidden;
                  visibility: hidden;
                }
                &:after {
                  content: '';
                  margin-top: 14px;
                  display: block;
                  height: 1px;
                  width: 0;
                  background-color: $red;
                  transition: .3s;
                }
                &:hover {
                  font-weight: bold;
                  color: $red;
                }
                &:hover:after {
                  width: 100%;
                  transition: .3s;
                }
              }
            }
          }
        }
      }
    }
  }
  .default {
    position: fixed;
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: rgba(50, 55, 63, .8);
    transition: .7s;
    border-radius: 0;
    .container {
      .row {
        .navbar-header {
          margin-top: 10px;
        }
        .navbar-collapse {
          margin-top: 10px;
        }
      }
    }
  }
  .container-fluid {
    .row {
      .col-md-12 {
        padding: 0;
        .owl-slide_one {
          position: relative;
          &:before,
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-style: solid;
            z-index: 1;
          }
          &:before {
            left: 0;
            border-width: 123px 0 0 50vw;
            border-color: transparent transparent transparent #fff;
          }
          &:after {
            right: 0;
            border-width: 0 0 123px 50vw;
            border-color: transparent transparent #fff transparent;
          }
          .bg_slide {
            background: url(../img/bg_slide_header.png) center/cover no-repeat;
            height: 990px;
            display: flex;
            text-align: center;
            .content_slide {
              margin: auto;
              max-width: 790px;
              color: #fff;
              h3 {
                font-family: 'source_sans_pro_regular', sans-serif;
                line-height: 17px;
              }
              h1 {
                font-family: 'open_sans_bold', sans-serif;
                font-size: 72px;
                margin: 50px 0 40px 0;
              }
              .line_circle {
                @include line_circle;
                .line {
                  background-color: #fff;
                }
              }
              p {
                color: #cbc6c0;
                max-width: 585px;
                font-size: 14px;
                margin: 45px auto 70px auto;
              }
              a {
                font-family: 'open_sans_bold', sans-serif;
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                display: inline-block;
                border: 1px solid #fff;
                border-radius: 3px;
                line-height: 10px;
                width: 225px;
                padding: 20px 0;
                box-sizing: border-box;
                margin: 0 15px;
                transition: .4s;
                &:hover {
                  background-color: $red;
                  border-color: $red;
                  transition: .4s;
                }
              }
            }
          }
          .owl-nav.disabled {
            display: block;
            position: absolute;
            top: 40%;
            height: 45px;
            width: 100%

          }
          .owl-nav {
            .owl-prev,
            .owl-next {
              text-align: center;
              height: 45px;
              width: 45px;
              position: absolute;
              background-color: #716b65;
              border-radius: 3px;
              transition: .4s;
              .fa {
                font-size: 40px;
                position: relative;
              }
              &:hover {
                background-color: $red;
                color: #fff;
                transition: .4s;
              }
            }
            .owl-prev {
              left: 49px;
              .fa {
                right: 2px;
              }
            }
            .owl-next {
              right: 49px;
              .fa {
                left: 2px;
              }
            }
          }
        }
      }
    }
  }
  @include header;
}

/*---------------------------------------------PROFESSIONAL_SKILLS------------------------------------------------------*/
.skills {
  .container {
    .row {
      .col-md-12 {
        text-align: center;
        a {
          height: 71px;
          width: 71px;
          background-color: #f4f5f9;
          border-radius: 50%;
          display: block;
          margin: 0 auto -32px auto;
          position: relative;
          bottom: 32px;
          z-index: 2;
          &:before {
            content: '';
            position: relative;
            left: -5px;
            border-radius: 50%;
            top: -5px;
            display: block;
            height: 80px;
            width: 80px;
            background-color: #fff;
            opacity: .4;
          }
          &:after {
            content: url(../img/scroll_down_btn.png);
            position: relative;
            bottom: 60px;
          }
          img {
            line-height: 64px;
            margin-top: 16px;
          }
        }
      }
    }
    .row {
      padding-bottom: 105px;
      box-sizing: border-box;
      .col-md-3 {
        text-align: center;
        .info {
          &:hover .img:after {
            transform: rotate(-45deg);
            border-color: #e95b4d;
            transition: .3s;
          }
          &:hover h2 {
            color: $red;
            transition: .3s;
          }
          .img {
            display: inline-block;
            height: 72px;
            width: 72px;
            &:after {
              content: '';
              display: block;
              height: 72px;
              width: 72px;
              position: relative;
              top: -72px;
              border: 1px solid #e5e5e5;
              transform: rotate(0deg);
              transition: .3s;

            }
          }
          h2 {
            margin-top: 30px;
            font-family: 'open_sans_semibold', sans-serif;
            font-size: 18px;
            color: #6a6a6a;
            transition: .3s;
            &:after {
              content: '';
              display: block;
              height: 1px;
              width: 41px;
              background-color: #6a6a6a;
              margin: 18px auto 15px auto;
            }
          }
          p {
            font-family: 'source_sans_pro_light', sans-serif;
            font-size: 12px;
            color: #999999;
          }
        }
      }
    }
  }
  @include skills;
}

/*--------------------------------------------OUR_HISTORY---------------------------------------------*/
.history {
  .container {
    padding-bottom: 145px;
    padding-top: 141px;
    .row {
      .col-md-6 {
        img {
          width: 100%;
          max-width: 506px;
        }
      }
      .col-md-6 {
        h2 {
          font-size: 36px;
          font-family: 'source_sans_pro_bold', sans-serif;
          line-height: 36px;
          border-left: 6px solid $red;
          padding-left: 27px;
          box-sizing: border-box;
          color: #6a6a6a;
          margin-bottom: 49px;
        }
        p {
          font-size: 14px;
          color: #999;
        }
        .history_2 {
          margin: 34px 0 48px 0;
        }
        a {
          font-family: 'open_sans_bold', sans-serif;
          font-size: 14px;
          color: #fff;
          display: inline-block;
          padding: 0 42px;
          box-sizing: border-box;
          border-radius: 3px;
          line-height: 56px;
          background-color: $red;
          box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.38);
          text-decoration: none;
          transition: .3s;
          &:hover {
            background-color: #e7743c;
            transition: .3s;
          }
        }
      }
    }
  }
  @include history;
}

/*--------------------------------------------OUR_SERVICES---------------------------------------------*/
.services {
  .container-fluid {
    .row {
      .col-md-7 {
        background: #202020;
        padding: 155px 80px 70px 0;
        h2 {
          color: #f4f5f9;
          font-family: 'source_sans_pro_bold', sans-serif;
          font-size: 36px;
          border-right: 6px solid $red;
          width: 305px;
          float: right;
          text-align: right;
          padding-right: 30px;
          margin-bottom: 70px;
        }
        .info {
          text-align: right;
          position: relative;
          float: right;
          max-width: 600px;
          &:after {
            content: url(../img/web.png);
            position: absolute;
            top: 0;
            right: -115px;
            z-index: 2;
          }
          h3 {
            font-family: 'open_sans_semibold', sans-serif;
            font-size: 18px;
            color: $red;
            margin-bottom: 15px;
          }
          p {
            font-family: 'source_sans_pro_regular', sans-serif;
            color: #999;
            margin-bottom: 70px;
          }
        }
        .print {
          &:after {
            content: url(../img/print.png);
          }
        }
        .photo {
          &:after {
            content: url(../img/photo.png);
          }
        }
      }
    }
    .col-md-5 {
      background: url(../img/bg_ipad.png) center/cover;
      height: 767px;
    }
  }
  @include services;
}

/*---------------------------------------------RECENT_WORKS------------------------------------------------------*/
.works {
  @include name_header;
  .container {
    .row {
      .center {
        text-align: center;
        color: #999;
        margin-bottom: 45px;
        .btn-default {
          text-align: center;
          border: none;
          color: #999;
          background: none;
          outline: none;
          &:after {
            content: '/';
            margin-left: 20px;
          }
          &:hover {
            color: $red;
            box-shadow: none;
            font-weight: bold;
          }
          &:hover:after {
            color: #999;
            font-weight: normal;
          }
        }
        .btn_last {
          &:after {
            content: '';
          }
        }
      }
    }
  }
  .container-fluid {
    .row {
      .work {
        padding: 0;
        overflow: hidden;
        background: url(../img/work_1.png) center/cover no-repeat;
        min-height: 320px;
        max-height: 480px;
        display: block;
        position: relative;
        &:hover {
          box-shadow: inset 10px 10px 300px 200px rgba(231, 76, 60, 0.71);
          transition: .4s;
        }
        &:hover .hover_content {
          bottom: 50px;
          transition: .6s;
          z-index: 2;
        }
        .hover_content {
          overflow: hidden;
          position: absolute;
          left: 50px;
          bottom: -100px;
          color: #fff;
          z-index: -2;
          h2 {
            font-family: 'source_sans_pro_semibold', sans-serif;
            font-size: 24px;
            &:before {
              content: '';
              display: block;
              height: 4px;
              width: 44px;
              background-color: #fff;
              margin-bottom: 25px;
            }
          }
          h3 {
            font-size: 14px;
            margin-top: 20px;
          }
        }
      }
      .work_2 {
        background: url(../img/work_2.png) center/cover no-repeat;
      }
      .work_3 {
        background: url(../img/work_3.png) center/cover no-repeat;
      }
      .work_4 {
        background: url(../img/work_4.png) center/cover no-repeat;
      }
      .work_5 {
        background: url(../img/work_5.png) center/cover no-repeat;
      }
      .work_6 {
        background: url(../img/work_6.png) center/cover no-repeat;
      }
      .work_7 {
        background: url(../img/work_7.png) center/cover no-repeat;
      }
      .work_8 {
        background: url(../img/work_8.png) center/cover no-repeat;
      }
    }
  }
  @include works;
}

/*---------------------------------------------CASE_STUDY------------------------------------------------------*/
.carousel_study {
  background-color: #f4f5f9;
  @include name_header;
  .container {
    .row {
      .col-sm-7 {
        padding-left: 0;
        .owl-slide_two {
          box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.38);
          background-color: #fff;
          margin-top: 50px;
          padding: 0 65px;
          .owl-stage-outer {
            .owl-item {
              padding: 0 15px;
              .content_slide {
                text-align: center;
                .img {
                  width: 73px;
                  height: 73px;
                  background: $red;
                  transform: rotate(-45deg);
                  margin: 96px auto 68px auto;
                  img {
                    transform: rotate(45deg);
                    filter: brightness(10);
                  }
                }
                h3 {
                  font-family: 'open_sans_semibold', sans-serif;
                  font-size: 18px;
                  color: #6a6a6a;
                  &:after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 41px;
                    margin: 30px auto 27px auto;
                    background-color: #888;
                  }
                }
                p {
                  font-family: 'source_sans_pro_light', sans-serif;
                  color: #999;
                }
                a {
                  background-color: $red;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: middle;
                  padding: 15px 40px;
                  box-sizing: border-box;
                  border-radius: 3px;
                  display: inline-block;
                  box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.38);
                  margin: 51px 0 53px 0;
                }
              }
            }
          }
          .owl-dots.disabled {
            display: inline-block;
          }
          .owl-dots {
            height: 12px;
            text-align: center;
            padding-bottom: 65px;
            .owl-dot {
              height: 12px;
              background-color: #f4f5f9;
              width: 12px;
              border-radius: 50%;
              display: inline-block;
              margin: 0 4px;
            }
            .active {
              background-color: $red;
            }
          }
        }
      }
      .right_img {
        position: relative;
        margin: 0 0 150px -99px;
        img {
          width: 100%;
          height: 722px;
        }
      }
    }
  }
  @include carousel_study;
}

/*---------------------------------------------NUMBER_COUNTER------------------------------------------------------*/
.number_counter {
  background: url(../img/bg_number_counter.png) center/cover no-repeat;
  .container {
    .row {
      .col-sm-five {
        color: #fff;
        text-align: center;
        img {
          border: 1px solid #fff;
          border-radius: 50%;
          display: inline-block;
          margin: 157px 0 50px 0;
        }
        .number {
          font-family: 'source_sans_pro_bold', sans-serif;
          font-size: 30px;
          line-height: 21px;
          opacity: 0;
        }
        .viz {
          opacity: 1;
          transition: .4s;
        }
        .text {
          font-family: 'source_sans_pro_regular', sans-serif;
          font-size: 18px;
          line-height: 13px;
          margin: 20px 0 145px 0;
        }
      }
    }
  }
  @include number_counter;
}

/*---------------------------------------------OUR_PRICING------------------------------------------------------*/
.pricing {
  @include name_header;
  .container {
    .row {
      .col-md-4 {
        text-align: center;
        .price_head {
          padding-top: 50px;
          background-color: #999;
          h2 {
            font-family: open_sans_semibold, sans-serif;
            font-size: 24px;
            color: #fff;
          }
          .cirle_value {
            position: relative;
            top: 75px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            height: 153px;
            width: 153px;
            margin: -10px auto 0 auto;
            &:before {
              content: '';
              position: absolute;
              left: -14px;
              border-radius: 50%;
              top: -14px;
              display: block;
              height: 180px;
              width: 180px;
              background-color: #fff;
              opacity: .4;
            }
            .value {
              font-size: 40px;
              font-family: 'source_sans_pro_bold', sans-serif;
              width: 100%;
              margin: auto;
            }
            .red {
              color: #e74c3c;
            }
          }
        }
        .premium {
          background-color: $red;
        }
        .price_body {
          background-color: #f4f5f9;
          margin-bottom: 143px;
          ul {
            padding: 100px 0 50px 0;
            li {
              font-family: 'open_sans_semibold', sans-serif;
              list-style: none;
              color: #999;
              margin: 25px 0;
              &:first-child {
                margin-top: 0;
              }
            }
            a {
              font-family: 'open_sans_semibold', sans-serif;
              font-size: 12px;
              background-color: #999;
              color: #fff;
              line-height: 12px;
              padding: 19px 30px;
              border-radius: 3px;
              display: inline-block;
              box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.38);
            }
          }
        }
      }
      .col-premium {
        padding: 0;
        .premium {
          background-color: $red;
        }
        ul {
          li {
            .premium {
              background-color: $red;
            }
          }
        }
      }
    }
  }
  @include price;
}

/*---------------------------------------------OUR_TEAM------------------------------------------------------*/
.team_sec {
  height: 744px;
  background: url(../img/bg_team.png) center/cover no-repeat;
  @include name_header;
  .container {
    .row {
      .col-md-12 {
        position: relative;
        ul {
          li {
            position: absolute;
            width: 15%;
            list-style: none;
            &:hover .team {
              transform: scale(1.5);
              transition: .4s;
            }
            &:hover .team_name {
              opacity: 1;
              transition: .4s;
            }
            .team {
              margin: auto;
              height: 50px;
              width: 50px;
              border: 3px solid $red;
              border-radius: 50%;
            }
            .team_name {
              opacity: 0;
              h3 {
                font-family: 'open_sans_semibold', sans-serif;
                color: $red;
                font-size: 24px;
                margin-top: 15px;
                margin-bottom: 10px;
                text-align: center;
              }
              h4 {
                font-family: 'source_sans_pro_regular', sans-serif;
                font-size: 14px;
                color: #fff;
                text-align: center;
              }
              &:before {
                content: url(../img/line.png);
                display: block;
                margin: 13px auto 0 auto;
                width: 1px;
              }
            }
            &:first-child {
              left: 0;
              top: 95px;
              .team {
                background: url(../img/team_1.png) center/cover no-repeat;
              }
            }
            &:nth-child(2) {
              left: 290px;
              top: 55px;
              .team {
                background: url(../img/team_2.png) center/cover no-repeat;
              }
            }
            &:nth-child(3) {
              left: 533px;
              top: 60px;
              .team {
                background: url(../img/team_3.png) center/cover no-repeat;
              }
            }
            &:nth-child(4) {
              right: 230px;
              top: 95px;
              .team {
                background: url(../img/team_4.png) center/cover no-repeat;
              }
            }
            &:nth-child(5) {
              right: 27px;
              top: 77px;
              .team {
                background: url(../img/team_5.png) center/cover no-repeat;
              }
            }
          }
        }
      }
    }
  }
  @include team;
}

/*---------------------------------------------GREAT_INTEGRATIONS_WITH_OTHERS------------------------------------------------------*/
.integrations {
  background-color: #f4f5f9;
  @include name_header;
  .container_brands {
    padding-bottom: 100px;
    .row {
      margin-bottom: 30px;
      .col-sm-five {
        padding: 0 15px;
        .brand {
          background: #fff;
          cursor: pointer;
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
          transition: .4s;
          img {
            width: 100%;
          }
          &:hover {
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .4);
            transition: .4s;
          }
        }
      }
    }
  }
  @include integrations;
}

/*---------------------------------------------OUR_BLOG------------------------------------------------------*/
.blog_section {
  background-color: #f4f5f9;
  @include name_header;
  .container-fluid {
    .row {
      .blog_img {
        background: url(../img/blog_1.png) center/cover no-repeat;
        min-height: 360px;
        max-height: 480px;
      }
      .blog_img_2 {
        background: url(../img/blog_2.png) center/cover no-repeat;
      }
      .blog_img_3 {
        background: url(../img/blog_3.png) center/cover no-repeat;
      }
      .blog_img_4 {
        background: url(../img/blog_4.png) center/cover no-repeat;
      }
      .blog {
        color: #fff;
        padding: 35px;
        box-sizing: border-box;
        background-color: $red;
        min-height: 360px;
        max-height: 480px;
        h3 {
          font-size: 14px;
          margin-bottom: 10px;
        }
        h2 {
          font-family: 'source_sans_pro_semibold', sans-serif;
          font-size: 24px;
          &:after {
            content: '';
            display: block;
            height: 4px;
            width: 44px;
            background-color: #fff;
            margin: 15px 0;
          }
        }
        p {
          font-size: 15px;
          line-height: 25px;
          max-height: 150px;
          overflow: hidden;
        }
        a {
          color: #fff;
        }
      }
      .blog_1,
      .blog_2 {
        &:after {
          content: '';
          position: absolute;
          left: -40px;
          bottom: 45%;
          border: 20px solid transparent;
          border-right: 20px solid $red;
        }
      }
      .blog_img_3,
      .blog_img_4 {
        &:after {
          content: '';
          position: absolute;
          bottom: 45%;
          left: 0;
          border: 20px solid transparent;
          border-left: 20px solid $red;
        }
      }
    }
  }
  @include blog;
}

/*---------------------------------------------KEEP_IN_TOUCH------------------------------------------------------*/
.contact_form {
  padding-bottom: 152px;
  background-color: #f4f5f9;
  @include name_header;
  .container {
    .row {
      .col-md-5 {
        .contact_info {
          background-color: #fff;
          padding: 15px 50px 100px 90px;
          h3 {
            font-family: 'source_sans_pro_semibold', sans-serif;
            color: $red;
            line-height: 16px;
            margin-top: 70px;
            margin-bottom: 25px;
          }
          p {
            color: #999;
            font-size: 18px;
            margin: 0;
          }
        }
      }
      .col-md-7 {
        .form-area {
          background-color: #fff;
          padding: 80px 95px 0 95px;
          height: 100%;
          .form-group {
            .form-control {
              border-radius: 0;
              border: none;
              box-shadow: none;
              border-bottom: 1px solid #e5e5e5;
              width: 100%;
              max-width: 470px;
            }
            textarea {
              resize: none;
              height: 130px;
            }
          }
          button {
            background-color: $red;
            border: none;
            border-radius: 3px;
            font-weight: bold;
            padding: 0 26px;
            line-height: 44px;
            margin-top: 20px;
            transition: .3s;
            box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.38);
            &:hover {
              background-color: #e7743c;
              transition: .3s;
            }
          }
        }
      }
    }
  }
  @include contact_form;
}

/*---------------------------------------------PROMO_BANNER------------------------------------------------------*/
.promo {
  background: url(../img/bg_promo.png) center/cover no-repeat;
  padding: 150px 0 140px 0;
  .container {
    .row {
      .col-md-10 {
        color: #fff;
        text-align: center;
        h2 {
          font-size: 36px;
          .bold {
            font-family: 'open_sans_bold', sans-serif;
          }
        }
        p {
          font-size: 18px;
          margin: 20px 0 65px 0;
        }
        a {
          font-family: 'open_sans_bold', sans-serif;
          font-size: 14px;
          color: #fff;
          display: inline-block;
          padding: 0 42px;
          box-sizing: border-box;
          border-radius: 3px;
          line-height: 56px;
          background-color: $red;
          box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.38);
          text-decoration: none;
          transition: .3s;
          text-transform: uppercase;
          &:hover {
            background-color: #e7743c;
            transition: .3s;
          }
        }
      }
    }
  }
}

/*---------------------------------------------FOOTER (SOCIAL LINKS)------------------------------------------------------*/
footer {
  background-color: #202020;
  padding: 35px 0;
  .container {
    .row {
      .col-sm-6 {
        a {
          font-size: 20px;
          margin-right: 10px;
          i {
            color: #999;
            transition: .4s;
          }
          &:hover i {
            color: $red;
            transition: .4s;
          }
        }
      }
      .col-sm-6 {
        h2 {
          font-family: 'open_sans_semibold', sans-serif;
          font-size: 16px;
          color: #828282;
          text-align: right;
        }
      }
    }
  }
  @include footer;
}