@font-face {
  font-family: 'UbuntuLightItalic';
  src: url('../fonts/UbuntuLightItalic.eot');
  src: url('../fonts/UbuntuLightItalic.eot') format('embedded-opentype'),
  url('../fonts/UbuntuLightItalic.woff2') format('woff2'),
  url('../fonts/UbuntuLightItalic.woff') format('woff'),
  url('../fonts/UbuntuLightItalic.ttf') format('truetype'),
  url('../fonts/UbuntuLightItalic.svg#UbuntuLightItalic') format('svg');
}
@font-face {
  font-family: 'UbuntuMediumItalic';
  src: url('../fonts/UbuntuMediumItalic.eot');
  src: url('../fonts/UbuntuMediumItalic.eot') format('embedded-opentype'),
  url('../fonts/UbuntuMediumItalic.woff2') format('woff2'),
  url('../fonts/UbuntuMediumItalic.woff') format('woff'),
  url('../fonts/UbuntuMediumItalic.ttf') format('truetype'),
  url('../fonts/UbuntuMediumItalic.svg#UbuntuMediumItalic') format('svg');
}
@font-face {
  font-family: 'UbuntuRegular';
  src: url('../fonts/UbuntuRegular.eot');
  src: url('../fonts/UbuntuRegular.eot') format('embedded-opentype'),
  url('../fonts/UbuntuRegular.woff2') format('woff2'),
  url('../fonts/UbuntuRegular.woff') format('woff'),
  url('../fonts/UbuntuRegular.ttf') format('truetype'),
  url('../fonts/UbuntuRegular.svg#UbuntuRegular') format('svg');
}
@font-face {
  font-family: 'UbuntuBoldItalic';
  src: url('../fonts/UbuntuBoldItalic.eot');
  src: url('../fonts/UbuntuBoldItalic.eot') format('embedded-opentype'),
  url('../fonts/UbuntuBoldItalic.woff2') format('woff2'),
  url('../fonts/UbuntuBoldItalic.woff') format('woff'),
  url('../fonts/UbuntuBoldItalic.ttf') format('truetype'),
  url('../fonts/UbuntuBoldItalic.svg#UbuntuBoldItalic') format('svg');
}
