body {
  background: #0d183c; }

section {
  width: 100%;
  max-width: 1007px;
  margin: auto; }

.cont-split-img {
  margin-top: 80px; }

.split-img {
  display: block;
  margin: 0 auto 25px auto;
  width: 100%;
  max-width: 1007px;
  max-height: 309px;
  -webkit-box-shadow: 0 10px 20px -10px #787878;
  -moz-box-shadow: 0 10px 20px -10px #787878;
  box-shadow: 0 10px 20px -10px #787878; }

.top-split-line:before {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  max-width: 830px;
  margin: 25px auto 28px auto;
  background-color: black; }

.name-menu img {
  display: block;
  margin: 75px auto 0 auto; }
.name-menu:after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  max-width: 830px;
  margin: 15px auto 30px auto;
  background-color: black; }

.col {
  background-color: #fff;
  padding: 0 0;
  max-width: 1007px; }

.left-column div, .right-column div, .central-column div {
  text-align: center; }
  .left-column div:after, .right-column div:after, .central-column div:after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    max-width: 466px;
    margin: 25px auto 28px auto;
    background-color: black; }
.left-column .last-price, .right-column .last-price, .central-column .last-price {
  text-align: center; }
  .left-column .last-price:after, .right-column .last-price:after, .central-column .last-price:after {
    display: none; }

.desserts .container .row .name-menu:after {
  max-width: 468px; }

.vines .menu-cont .row .price .row .big-central-column img {
  width: 100%; }

.drinks .menu-cont .row .price .cocktails .right-column .last-price {
  margin-top: 69px; }
.drinks .menu-cont .row .price .cocktails .right-column .right-margin {
  margin-top: 41px; }
.drinks .menu-cont .row .price .cocktails .big-margin .last-price {
  margin-top: 69px; }
.drinks .menu-cont .row .price .big-central-column {
  margin-bottom: 87px; }

footer {
  margin-top: 127px; }
  footer .container .row .contacts {
    max-width: 321px;
    padding: 0;
    margin: auto 0 !important; }
  footer .container .row .col-sm-4 {
    margin: auto;
    text-align: center;
    background-color: #0d183c;
    color: #b57639; }
    footer .container .row .col-sm-4 .logo_foot {
      display: block;
      width: 118px;
      height: 210px;
      background: url(../img/logo_foot.png) center no-repeat;
      margin: auto; }
    footer .container .row .col-sm-4 h2, footer .container .row .col-sm-4 h3 {
      font-size: 15px;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      color: #b57639;
      margin: 0 auto 10px auto; }
    footer .container .row .col-sm-4 h3 {
      font-weight: 400;
      max-width: 291px;
      line-height: 1.5;
      margin-bottom: 15px; }
    footer .container .row .col-sm-4 .time-work {
      margin: 10px auto 42px auto; }
    footer .container .row .col-sm-4 ul {
      padding: 0; }
      footer .container .row .col-sm-4 ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px; }
        footer .container .row .col-sm-4 ul li a {
          display: block;
          width: 22px;
          height: 22px; }
        footer .container .row .col-sm-4 ul li:first-child a {
          background: url(../img/vk.png) center no-repeat; }
        footer .container .row .col-sm-4 ul li:nth-child(2) a {
          background: url(../img/fb.png) center no-repeat; }
        footer .container .row .col-sm-4 ul li:nth-child(3) a {
          background: url(../img/it.png) center no-repeat; }
        footer .container .row .col-sm-4 ul li:last-child a {
          background: url(../img/ok.png) center no-repeat; }
  footer .container-fluid {
    border-top: 1px solid #b57639;
    text-align: center;
    margin-top: 98px; }
    footer .container-fluid h3 {
      font-size: 14px;
      color: #75503b;
      font-family: 'Open Sans', sans-serif;
      margin: 23px auto; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .name-menu {
    max-width: 960px; }

  .left-column img, .right-column img {
    width: 100%; } }
@media screen and (min-width: 319px) and (max-width: 992px) {
  .querie:before {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    margin: 25px auto 28px auto;
    background-color: black; }

  .big-central-column .d-block {
    max-width: 525px;
    width: 100%;
    display: block;
    margin: 0 auto; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .name-menu {
    max-width: 720px;
    box-sizing: border-box; }
    .name-menu:after {
      max-width: 525px; }

  .big-central-column:before {
    max-width: 525px; }

  .big-central-column .d-block {
    max-width: 525px;
    width: 100%;
    display: block;
    margin: 0 auto; }

  .left-column .querie:before, .right-column .querie:before {
    max-width: 830px; }
  .left-column .name-menu img, .right-column .name-menu img {
    max-width: 300px; }
  .left-column div, .right-column div {
    max-width: 525px;
    margin: 0 auto; }
    .left-column div:after, .right-column div:after {
      max-width: 750px; }
    .left-column div img, .right-column div img {
      width: 100%; } }
@media screen and (min-width: 576px) and (max-width: 767px) {
  .name-menu {
    max-width: 540px;
    box-sizing: border-box; }
    .name-menu img {
      max-width: 530px; }
    .name-menu:after {
      max-width: 399px; }

  .big-central-column .d-block {
    max-width: 399px;
    width: 100%;
    display: block;
    margin: 0 auto; }

  .left-column .querie:before, .right-column .querie:before {
    max-width: 399px; }
  .left-column div:after, .right-column div:after {
    max-width: 399px; }

  footer .container .row .col-sm-4 ul li {
    margin: 0 6px; } }
@media screen and (max-width: 575px) {
  .name-menu:after {
    max-width: 320px; }
  .name-menu img {
    margin: 25px auto 0 auto;
    max-width: 280px; }

  .row {
    margin-left: 0;
    margin-right: 0 !important; }

  .big-central-column {
    margin-bottom: 15px !important; }
    .big-central-column .d-block {
      max-width: 320px;
      width: 100%;
      display: block;
      margin: 0 auto; }
      .big-central-column .d-block img {
        width: 100%; }

  .top-split-line:before {
    max-width: 320px; }

  .left-column div:after, .right-column div:after, .central-column div:after {
    max-width: 320px; }
  .left-column img, .right-column img, .central-column img {
    max-width: 320px;
    width: 100%; }
  .left-column .querie:before, .right-column .querie:before, .central-column .querie:before {
    max-width: 320px;
    width: 100%; }

  .desserts .container .row .name-menu:after {
    max-width: 320px; }
  .desserts .container .row .name-menu img {
    max-width: 260px; }

  .top-split-line:after {
    max-width: 320px; }

  footer {
    margin-top: 45px; }
    footer .container .row .col-sm-4 .logo_foot {
      margin-bottom: 25px; }
    footer .container .row .contacts {
      max-width: 574px; }
      footer .container .row .contacts h3 {
        width: 100%; }
    footer .container-fluid {
      margin-top: 25px; } }
